.homeContainer {
  margin: 0;
  margin-left: 200px;
  /* background-color: rgba(255, 255, 255, 0.2); */
}
.AboutMe {
  padding: 2.5em 3em 2em 3em;
}
.AboutMe .Heading {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--hap-title-color);
  color: var(--hap-title-color);
}
.AboutMe h1 {
  margin: 0;
  color: var(--hap-title-color);
  font-size: 40px;
}
.PopularProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1em;
}
.imagesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
}
.Project {
  width: 45%;
  height: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 2em;
  overflow: hidden;
}
.backgroundImage {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Project_overlay {
  background: #00a1e194;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  color: #f1f1f1;
  color: #fff;
  font-size: 18px;
  margin: 0 10px 0px;
  opacity: 0;
  padding: 18px;
  position: absolute;
  text-align: center;
  transition: 0.5s ease;
  width: 95%;
}
.Project_overlay span:hover {
  text-decoration: underline;
}
.Project:hover .Project_overlay {
  opacity: 1; /* Show the overlay on hover */
}
@media only screen and (max-width: 1225px) {
  .homeContainer {
    margin-left: 0;
    padding-top: 5em;
  }
  .Project {
    height: 16em;
  }
}
@media only screen and (max-width: 1220px) {
  .imagesContainer {
    flex-direction: column;
  }
  .Project {
    width: 70%;
    /* height: 25em; */
  }
  .backgroundImage {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* height: auto; */
    object-fit: contain;
  }
}
@media only screen and (max-width: 1025px) {
  .Project {
    width: 100%;
    /* height: 20em; */
    margin-top: 5px;
  }
  .backgroundImage {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* height: auto; */
    object-fit: contain;
  }
}
.Services {
  margin-top: 2em;
  text-align: center;
  width: 100%;
}
.Services h2 {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  line-height: 1em;
  color: var(--hap-body-color);
  letter-spacing: 0.5px;
  position: relative;
  text-transform: uppercase;
  padding: 5px 10px;
  border-bottom: 2px solid var(--hap-title-color);
}
.Services h2:before {
  left: 0;
}
.Services h2:after {
  right: 0;
}
.Services h2:before,
.Services h2:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 5px;
  background-color: var(--hap-title-color);
  bottom: 0;
}
