/* .outerNavbar {
  background-color: aquamarine;
  height: 50vh;
} */
.innerNavbar {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 300;
  width: 200px;
  background-color: #17181b;
  /* background-color: #1e1e1e; */
  overflow: auto;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  z-index: 999;
  color: #777;
  border-right: 1px solid #202226;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.imageDiv {
  position: relative;
}
.name {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00a1e19b;
  width: 100%;
  color: white;
}
.name p {
  text-transform: uppercase;
  font-size: 22px;
  margin: 10px 0;
  font-weight: 700;
  /* letter-spacing: -0.5; */
  font-family: var(--role-font);
}
.imageDiv img {
  height: 100%;
}
.textDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navitem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 5px;
  width: 100%;
  transition: all 1s ease;
}
.navitem a {
  width: 100%;
  padding: 15px 0 15px 0em;
  border-bottom: 1px solid #77777762;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navitem:hover {
  border-bottom: 1px solid var(--hap-title-color);
}
.navitem:hover a {
  color: var(--hap-title-color); /* Change this to the desired color */
}
.textDiv a {
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.socialDiv {
  font-size: 20px;
  margin-top: 4em;
}
.socialDiv div {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.socialDiv div a {
  text-decoration: none;
  color: inherit;
}
.socialDiv div a:hover {
  color: #00a3e1;
}
.socialDiv p {
  font-size: 12px;
}
.TopNavbar {
  opacity: 0;
}
.outerNavbar {
  position: relative;
}
.TopNavbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: #00a1e127;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 0px;
  overflow: hidden;
}
.TopNavItem {
  color: white;
  /* width: fit-content; */
}
.TopNavItem a {
  color: white;
  text-decoration: none;
}
.bar {
  font-size: 2rem;
  background: none;
}
.Heading {
  /* font-family: var(--heading-font-family); */
  font-family: Georgia, "Times New Roman", Times;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 20px;
}
/* MEdia query */
/* Responsive Navbar */
@media only screen and (max-width: 1225px) {
  .outerNavbar {
    position: relative;
  }
  .innerNavbar {
    position: absolute;
    right: -100%;
    top: 0%;
    display: none;
  }
  .TopNavbar {
    opacity: 1;
  }
}

/* responsive */
/* Responsive Navbar */
.navmenu {
  background-color: #17181b;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 999;
  color: white;
}
.navmenu.active {
  right: 0;
  transition: all 1s ease;
}
.navMenuItems {
  width: 100%;
  padding-left: 0px;
  list-style: none;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
.navbarToggle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: white;
}
.menubars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  margin-right: 4rem;
  color: white;
}
.navMenuItems .navitem a {
  text-decoration: none;
  color: white;
}
.navMenuItems .navitem {
  padding: 10px;
}
