.homeContainer {
  margin: 0;
  margin-left: 200px;
  background-color: var(--body-bg-color);
}
.AboutMe {
  padding: 2.5em 3em 2em 3em;
}
.AboutMe .Heading {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--hap-title-color);
  color: var(--hap-title-color);
}
.AboutMe h1 {
  margin: 0;
  color: var(--hap-title-color);
  font-size: 40px;
}
.Resumecontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.Resumecontainer .LeftSection,
.Resumecontainer .RightSection {
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* Service */
.TextWithUnderline {
  text-align: center;
}
.TextWithUnderline .Heading2 {
  display: inline-block;
  font-size: 26px;
  font-weight: 800;
  font-family: var(--heading-font-family);
  line-height: 1em;
  color: white;
  position: relative;
  text-transform: uppercase;
  padding: 5px 10px;
  border-bottom: 2px solid var(--hap-title-color);
}
.TextWithUnderline .Heading2:before {
  left: 0;
}
.TextWithUnderline .Heading2:after {
  right: 0;
}
.TextWithUnderline .Heading2:before,
.TextWithUnderline .Heading2:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 5px;
  background-color: var(--hap-title-color);
  bottom: 0;
}

/* TimeLine */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: var(--hap-title-color);
  top: 0;
  bottom: 0;
  left: 10%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;

  position: relative;
  width: 70%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -15px;
  background-color: var(--body-bg-color);
  border: 4px solid var(--hap-title-color);
  top: 22px;
  border-radius: 50%;
  z-index: 1;
}
/* Second circle styling */
.secondCircle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: -16px;
  background-color: var(--body-bg-color);
  border: 4px solid var(--hap-title-color);
  bottom: 22px; /* Adjust as needed */
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the right */
.container {
  left: 10.5%;
}

/* Add arrows to the right container (pointing left) */
.container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  /* background-color: 
rgba(0,163,225,255); */
  border: medium solid rgba(0, 163, 225, 255);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(0, 163, 225, 255) transparent transparent;
}
/* Second arrow styling */
.secondArrow {
  content: " ";
  height: 0;
  position: absolute;
  bottom: 22px; /* Adjust to match the second circle */
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgba(0, 161, 225, 0.813);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(0, 163, 225, 255) transparent transparent;
}
/* Fix the circle for containers on the right side */
.container::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: var(--hap-title-color); */
  border: 1px solid var(--hap-title-color);

  text-align: left;
  position: relative;
  border-radius: 6px;
  color: white;
}

.content h2 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 550;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--hap-body-color);
  font-family: var(--heading-font-family);
}
.Role {
  font-weight: 700;
  font-size: 26px;
  margin: 3px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: var(--font-Play-mono);
}
.Company {
  margin: 3px 0;
  font-size: 12px;
  color: var(--hap-title-color);
  font-weight: 500;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.Company a {
  text-decoration: none;
  color: inherit;
}
.description {
  font-size: 18px;
  font-family: var(--font-Play-mono);
  text-align: justify;
}
@media screen and (max-width: 820px) {
  .Resumecontainer {
    flex-direction: column-reverse;
  }
  .Resumecontainer .LeftSection,
  .Resumecontainer .RightSection {
    width: 100%;
  }
}
/* Media queries - Responsive timeline on screens less than 600px wide */

@media only screen and (max-width: 1225px) {
  .homeContainer {
    margin-left: 0;
    padding-top: 5em;
  }
}
